.button{
    border-radius: 4px;
    background-color: #726C73;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color : #FAEDFC;
    width: 5vw;
    height : 4vh;
    font-size: 1vw;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

